/* Write your CSS here */

.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  width: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-container-2 {
  background-color: #ffffff;
  border: solid 2px black;
  padding: 10px;
  box-shadow: 30px white;
  text-align: center;
}

.heading {
  color: #0b69ff;
}

.button {
  background-color: #0b69ff;
  padding: 5px;
  border-radius: 6px;
  color: #ffffff;
  border: none;
}

.count {
  color: #0b69ff;
  font-size: 26px;
  font-size: 600;
}
